@font-face {
    font-family: "Inter";
    src:
        local("Inter-Regular"),
        url("../fonts/Inter-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src:
        local("Inter-Medium"),
        url("../fonts/Inter-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src:
        local("Inter-Bold"),
        url("../fonts/Inter-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-black: #333c4d;
    --color-white: #ffffff;
    --color-gray: #e8e8e8;
    --color-blue: #377cfb;

    --border-radius-s: 15px;
    --border-radius-l: 30px;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--color-blue) var(--color-black);
}

body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: var(--color-black);
}

p {
    line-height: 140%;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 30px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn-reset {
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.body-hidden {
    overflow-y: hidden;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.burger {
    z-index: 100;
    display: none;
    visibility: hidden;
    position: relative;
    width: 40px;
    height: 40px;
}

.burger__line {
    position: absolute;
    height: 4px;
    width: 80%;
    border-radius: 10px;
    background-color: var(--color-black);
    transform: scale(1);
    transition: opacity 0.2s ease;
}

.burger.active .burger__line:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
}

.burger.active .burger__line:nth-child(2) {
    transform: scaleX(0);
}

.burger.active .burger__line:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg);
}

.burger__line:nth-child(1) {
    top: 25%;
    left: 10%;
}

.burger__line:nth-child(2) {
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.burger__line:nth-child(3) {
    bottom: 25%;
    left: 10%;
}

/* header */
.header {
    z-index: 100;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: var(--color-gray);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 41px;
    height: 50px;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.link {
    transition: color 0.2s ease-in-out;
}

.link:focus-visible {
    outline: none;
    color: var(--color-blue);
}

.link:hover {
    color: var(--color-blue);
}

.link:active {
    color: var(--color-black);
}

.social__button svg path {
    transition: fill 0.2s ease-in-out;
}

.social__button:focus-visible {
    outline: none;
}

.social__button:focus-visible svg path {
    fill: var(--color-blue);
}

.social__button:hover svg path {
    fill: var(--color-blue);
}

.social__button:active svg path {
    fill: var(--color-blue);
}

/* hero */
.hero {
    padding-bottom: 220px;
    background-color: var(--color-gray);
}

.hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.hero__content {
    max-width: 740px;
}

.hero__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 32px;
    text-transform: uppercase;
}

.hero__title span {
    color: var(--color-blue);
}

.hero__descr {
    margin: 0;
}

.hero__image img {
    max-width: 520px;
}

/* services */
.services {
    margin-top: -120px;
    padding-top: 0;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
}

.services__card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% / 4);
    border: 1px solid var(--color-gray);
    padding: 100px 20px 30px 20px;
    background-color: var(--color-white);
    text-align: center;
}

.services__card:first-child {
    border-right: none;
    border-top-left-radius: var(--border-radius-s);
    border-bottom-left-radius: var(--border-radius-s);
}

.services__card:last-child {
    border-left: none;
    border-top-right-radius: var(--border-radius-s);
    border-bottom-right-radius: var(--border-radius-s);
}

.services__card:nth-child(2) {
    border-right: none;
}

.services-card__image {
    max-width: max-content;
    max-height: 120px;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.services-card__title {
    margin: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.services-card__descr {
    margin: 0;
}

/* projects */
.projects {
    background-color: var(--color-gray);
}

.section__title {
    position: relative;
    margin: 0;
    margin-bottom: 52px;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
}

.section__title::after {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    width: 200px;
    height: 2px;
    background-color: var(--color-blue);
}

.projects__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.projects-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc((100% - 40px) / 3);
    border-radius: var(--border-radius-s);
    padding: 30px 20px;
    background-color: var(--color-white);
    max-height: 500px;
}

.projects-card__hashtags {
    position: absolute;
    right: 20px;
    top: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.projects-card__hashtags span {
    align-self: flex-end;
    border-radius: var(--border-radius-l);
    padding: 5px 20px;
    color: var(--color-white);
    background-color: var(--color-blue);
}

.projects-card__img {
    margin-bottom: auto;
    max-width: max-content;
    max-height: 120px;
}

.projects-card__title {
    padding-top: 30px;
    margin: 0;
    margin-bottom: 10px;
}

.projects-card__descr {
    margin: 0;
}

/* techonlogies */
.technologies__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    flex-wrap: wrap;
}

.technologies__item {
    display: flex;
    gap: 20px;
    align-items: center;
}

.technologies__img {
    width: 40px;
    height: 40px;
}

/* work */
.work__list {
    position: relative;
}

.work__list::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-gray);
}

.work-item {
    display: flex;
    width: 100%;
    position: relative;
}

.work-item:nth-child(2n) {
    justify-content: end;
}

.work-item:not(:last-child) {
    margin-bottom: 20px;
}

.work-item::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-blue);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.work-item__box {
    position: relative;
    width: 45%;
    border-radius: var(--border-radius-s);
    padding: 30px 20px 30px 200px;
    background-color: var(--color-gray);
    overflow: hidden;
}

.work-item__box::before {
    position: absolute;
    content: attr(data-work);
    bottom: 50%;
    transform: translateY(50%);
    left: -44px;
    font-size: 170px;
    font-weight: 700;
    line-height: 100%;
    color: var(--color-white);
}

.work-item__title {
    margin: 0;
    margin-bottom: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

.work-item__descr {
    margin: 0;
}

/* activity */
.activity {
    background-color: var(--color-gray);
}

.activity__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.activity-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-height: 700px;
    width: calc((100% - 40px) / 3);
    border-radius: var(--border-radius-s);
    padding: 30px 20px;
    background-color: var(--color-white);
}

.activity-card__title {
    margin: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.activity-card__descr {
    margin: 0;
    margin-bottom: 20px;
}

/* .activity-card__list {
    margin-bottom: auto;
} */

.activity-card__content {
    margin-bottom: 30px;
}

.activity-card__item {
    position: relative;
    padding-left: 25px;
}

.activity-card__item::before {
    position: absolute;
    content: "";
    left: 0;
    top: 4px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--color-blue);
}

.activity-card__item:not(:last-child) {
    margin-bottom: 10px;
}

.activity-card__price {
    margin-top: auto;
    position: relative;
    font-size: 48px;
    font-weight: 700;
    color: var(--color-blue);
}

.activity-card__price::after {
    position: absolute;
    content: attr(data-price);
    top: 8px;
    left: 103%;
    font-size: 20px;
    color: var(--color-black);
    width: max-content;
}

/* partners */
.partners__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
}

.partners__img {
    max-height: 70px;
}

.partners__link:focus-visible {
    outline-offset: 10px;
    outline-color: var(--color-gray);
}

/* footer */
.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--color-gray);
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}

.footer__left {
    grid-column: span 3;
}

.footer__address {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-style: normal;
}

.footer__center {
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer__right {
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 15px;
}
